*{
	margin: 0;
	padding: 0;
}

.img_menu{
	cursor: pointer;
}


g{
	cursor: pointer;
}


/*SubSessões de perguntas*/

.sub_visao{
	margin-top: 12px;
	color: #E8AF03;
}

.sub_infraestrutura{
	margin-top: 12px;
	color: #C87137;
}
.sub_gestao{
	margin-top: 12px;
	color: #4DA30F;
}
.sub_processo{
	margin-top: 12px;
	color: #916F6F;
}
.sub_resultado{
	margin-top: 12px;
	color: #0076FF;
}


/*Botões*/
.btn-sub_visao{
	margin-top: 12px;
	background-color: #E8AF03;
	font-weight: bold;
}

.btn-sub_infraestrutura{
	margin-top: 12px;
	background-color: #C87137;
	font-weight: bold;
}
.btn-sub_gestao{
	margin-top: 12px;
	background-color: #4DA30F;
	font-weight: bold;
}
.btn-sub_processo{
	margin-top: 12px;
	background-color: #916F6F;
	font-weight: bold;
}
.btn-sub_resultado{
	margin-top: 12px;
	background-color: #0076FF;
	font-weight: bold;
}

/*Botões*/
/*.collapsing{*/
	/*transition-duration: 1.2s;*/
/*}*/
/*SubSessões de perguntas*/